<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.my.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>studentListServlet</servlet-name>
    <servlet-class>com.my.servlet.StudentListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>studentAddServlet</servlet-name>
    <servlet-class>com.my.servlet.StudentAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>studentFindServlet</servlet-name>
    <servlet-class>com.my.servlet.StudentFindServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>studentUpdateServlet</servlet-name>
    <servlet-class>com.my.servlet.StudentUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>studentBatDeleteServlet</servlet-name>
    <servlet-class>com.my.servlet.StudentBatDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>studentDeleteServlet</servlet-name>
    <servlet-class>com.my.servlet.StudentDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>generateCheckCodeServlet</servlet-name>
    <servlet-class>com.my.servlet.GenerateCheckCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>uploadServlet</servlet-name>
    <servlet-class>com.my.servlet.UploadServlet</servlet-class>
    <multipart-config>
      <location>E:\upload</location>
    </multipart-config>
  </servlet>
  <servlet>
    <servlet-name>downloadServlet</servlet-name>
    <servlet-class>com.my.servlet.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>studentListServlet</servlet-name>
    <url-pattern>/student/list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>studentAddServlet</servlet-name>
    <url-pattern>/student/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>studentFindServlet</servlet-name>
    <url-pattern>/student/find</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>studentUpdateServlet</servlet-name>
    <url-pattern>/student/update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>studentDeleteServlet</servlet-name>
    <url-pattern>/student/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>studentBatDeleteServlet</servlet-name>
    <url-pattern>/student/batDlete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>downloadServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>generateCheckCodeServlet</servlet-name>
    <url-pattern>/generateCheckCode</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>authFilter</filter-name>
    <filter-class>com.my.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>authFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.my.listener.JbdcContextListener</listener-class>
  </listener>
</web-app>